{% for post in posts %}
    <table class="table">
        <tr>
            <th>{{ 'forum.post.author'|trans }}</th>
            <th>{{ 'forum.post.date'|trans }}</th>
        </tr>
        <tr id="{{ post.number }}">
            <td>{{ post.authorName }}</td>
            <td>{{ post.createdAt|date }}</td>
        </tr>
        <tr>
            <td colspan="2">
                {{ post.message }}
            </td>
        </tr>
    </table>
{% endfor %}